<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <section class="todo">
      <section class="menos">
        <h1 class="titulo"><%= title %></h1>
      
        <p> <b>Nombre completooo: </b>  <%= name %>  </p>
        <p> <b> Cedula: </b>       <%= Cedula %></p>
        <p> <b> seccion inscrita:   </b>    <%= seccion %></p>
      </section>

    </section>
    

   
  </body>
</html>
